@charset "utf-8";
@use "./common/variables" as va;
@use "./common/common";

#header {
  height: va.$header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}

header {
  nav {
    @include va.mq(va.$bp-medium) {
      display: none;
    }

    &.active {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 80;
      background-color: #fff;
    }
  }

  /*==================================================
ハンバーガーメニュー
===================================*/

  .openbtn1 {
    display: none;

    @include va.mq(va.$bp-medium) {
      display: block;
      z-index: 9999;
    }

    position: relative;

    /*ボタン内側の基点となるためrelativeを指定*/
    // background: #57a2c7;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 1px;

    span {
      display: inline-block;
      transition: all .4s;

      /*アニメーションの設定*/
      position: absolute;
      left: 14px;
      height: 3px;
      border-radius: 3px;
      background: #333;
      width: 45%;

      &:nth-of-type(1) {
        top: 15px;
      }

      &:nth-of-type(2) {
        top: 23px;
      }

      &:nth-of-type(3) {
        top: 31px;
      }
    }

    &.active span {

      /*activeクラスが付与されると線が回転して×に*/
      &:nth-of-type(1) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
      }

      &:nth-of-type(2) {
        opacity: 0;
        /*真ん中の線は透過*/
      }

      &:nth-of-type(3) {
        top: 30px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 30%;
      }
    }
  }

  ul {
    display: flex;

    @include va.mq(va.$bp-medium) {
      flex-direction: column;
      font-size: 2rem;
    }

    .sns-area {
      @include va.mq(va.$bp-medium) {
        flex-direction: row;
        justify-content: center;
        gap: 1.75rem;
      }
    }
  }

  li {
    margin-left: 1.5rem;

    @include va.mq(va.$bp-medium) {
      margin-left: 0;
      text-align: center;
      margin-bottom: 60px;
    }

    img {
      width: 20px;

      @include va.mq(va.$bp-medium) {
        width: 30px;
      }
    }
  }

  &:last-child {
    margin-left: 0;
  }

  &.sns-area {
    display: flex;
    justify-content: center;

    @include va.mq(va.$bp-medium) {
      gap: 2rem;
    }
  }
}

/*==================================================
メインビジュアル
===================================*/
#mainvisual {
  text-align: center;
  height: calc(100vh - va.$header-height);

  .catch-copy {
    margin: 80px 0;
  }

  .sub-title {
    margin-bottom: 40px;
  }

  .mainvisual-img {
    margin-bottom: 80px;

    @include va.mq(va.$bp-medium) {
      width: 30%;
    }
  }

  .btn-area {
    display: flex;
    justify-content: center;
    margin-bottom: 160px;

    @include va.mq(va.$bp-medium) {
      margin-bottom: 120px;
    }
  }

  // ボタン
  .btn {
    /*アニメーションの起点とするためrelativeを指定*/
    position: relative;
    overflow: hidden;
    /*ボタンの形状*/
    text-decoration: none;
    display: inline-block;
    // border: 1px solid #555;
    /* ボーダーの色と太さ */
    padding: 17px 20px 17px 30px;
    text-align: center;
    outline: none;
    /*アニメーションの指定*/
    transition: ease .2s;
    background-color: va.$accent-color;
    width: 200px;
    height: 60px;
    box-shadow: 3px 3px rgba(va.$accent-color, 0.3);
  }

  .btn:hover {
    border: 1px solid va.$accent-color;
  }

  /*ボタン内spanの形状*/
  .btn p {
    position: relative;
    z-index: 3;
    /*z-indexの数値をあげて文字を背景よりも手前に表示*/
    color: #fff;
    padding-right: 20px;
  }

  .btn .btn-text {
    display: flex;
    justify-content: center;
  }

  .btn:hover p {
    color: va.$accent-color;
  }

  .btn:hover span {
    color: #fff;
  }

  /*== 背景が流れる（中央から外） */

  .bgcenterout:before {
    content: '';
    /*絶対配置で位置を指定*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    /*色や形状*/
    background: va.$dynamic-content-color;

    width: 100%;
    height: 100%;
    /*アニメーション*/
    transition: transform .3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 0);
    transform-origin: center;
  }

  /*hoverした際の形状*/
  .bgcenterout:hover:before {
    transform: scale(1, 1);
  }

  .triangle {
    background: #fff;
    height: calc(tan(60deg) * 30px / 2);
    width: 30px;
    clip-path: polygon(0 0, 50% 50%, 0 100%);
    z-index: 5;
  }

  .btn:hover .triangle {
    background: va.$accent-color;
  }

}

// スクロールアニメーション
/*スクロールダウン全体の場所*/
.scrolldown-main {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  bottom: 1%;
  right: 50%;
  /*矢印の動き1秒かけて永遠にループ*/
  animation: arrowmove 1s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove {
  0% {
    bottom: 1%;
  }

  50% {
    bottom: 3%;
  }

  100% {
    bottom: 1%;
  }
}

/*Scrollテキストの描写*/
.scrolldown-main span {
  /*描画位置*/
  position: absolute;
  left: -20px;
  bottom: 10px;
  /*テキストの形状*/
  color: va.$base-font-color;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown-main:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  right: -6px;
  /*矢印の形状*/
  width: 1px;
  height: 20px;
  background: va.$base-font-color;
  transform: skewX(-31deg);
}

.scrolldown-main:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  right: 0;
  /*矢印の形状*/
  width: 1px;
  height: 50px;
  background: va.$base-font-color;
}

// メインビジュアルアニメーション
.context {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 10%
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.area {
  // background: #c7caff;
  // background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  // width: 100%;
  height: calc(100vh - va.$header-height);
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1) {
  border: 1px solid va.$main-object-color;
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  border: 1px solid va.$main-object-color;
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  border: 1px solid va.$main-object-color;
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  border: 1px solid va.$main-object-color;
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  border: 1px solid va.$main-object-color;
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  border: 1px solid va.$main-object-color;
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  border: 1px solid va.$main-object-color;
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  border: 1px solid va.$main-object-color;
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  border: 1px solid va.$main-object-color;
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  border: 1px solid va.$main-object-color;
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}


/*==================================================
フッター
===================================*/
footer {

  /*==================================================
  スクロールイベント
  https://coco-factory.jp/ugokuweb/move01/9-1-4/
  ===================================*/

  .scrolldown-footer {
    /*描画位置※位置は適宜調整してください*/
    position: absolute;
    bottom: 1%;
    right: 10%;
    /*矢印の動き1秒かけて永遠にループ*/
    -webkit-animation: arrowmove 1s ease-in-out infinite;
    animation: arrowmove 1s ease-in-out infinite;
  }

  /*下からの距離が変化して全体が下→上→下に動く*/
  @-webkit-keyframes arrowmove {
    0% {
      bottom: 1%;
    }

    50% {
      bottom: 3%;
    }

    100% {
      bottom: 1%;
    }
  }

  @keyframes arrowmove {
    0% {
      bottom: 1%;
    }

    50% {
      bottom: 3%;
    }

    100% {
      bottom: 1%;
    }
  }

  /*Scrollテキストの描写*/
  .scrolldown-footer span {
    /*描画位置*/
    position: absolute;
    left: -16px;
    bottom: 50px;
    /*テキストの形状*/
    color: va.$base-font-color;
    font-size: 0.7rem;
    letter-spacing: 0.05em;
  }

  /* 矢印の描写 */
  .scrolldown-footer:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 40px;
    right: -3px;
    /*矢印の形状*/
    width: 1px;
    height: 10px;
    background: va.$base-font-color;
    transform: skewX(31deg);
  }

  // 矢印の棒
  .scrolldown-footer:after {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    right: 0;
    /*矢印の形状*/
    width: 1px;
    height: 50px;
    background: va.$base-font-color;
  }

  .footer-site-map {
    img {
      margin-bottom: 1.75rem;
    }

    .footer-list-area {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include va.mq(va.$bp-medium) {
        flex-direction: column;
        align-items: flex-start
      }

      .footer-list {
        display: flex;
        gap: 2.5rem;

        @include va.mq(va.$bp-medium) {
          flex-direction: column;
          gap: 1.75rem;
        }
      }

      p {
        font-size: 0.75rem;

        @include va.mq(va.$bp-medium) {
          padding-top: 1.75rem;
        }
      }
    }

    .sns-area {
      display: flex;
      gap: 30px;

      img {
        width: 20px;

        @include va.mq(va.$bp-medium) {
          width: 30px;
        }
      }
    }
  }
}