// 変数を定義

// ブレイクポイント
$bp-extra-small: 375px;
$bp-small: 540px;
$bp-medium: 840px;
$bp-large: 1140px;
$bp-extra-large: 1280px;

// 高さ
$header-height: 60px;

@mixin mq ($bp) {
  @media (max-width: ($bp)) {
    @content;
  }
}

/**カラーパレット**/
// 文字
$base-font-color: #3D4140;
// 背景
$base-background-color: #FAFAFA;
// メインカラー
$base-main-color: #DDEDEF;
// アクセントカラー
$accent-color: #4F7A70;
// アニメーションカラー
$main-object-color: #6CADB6;
// 動的コンテンツカラー
$dynamic-content-color: #F3F6F7;

$light-font-color: #b98e51;