@charset "UTF-8";
body {
  font-size: 100%;
  color: #3D4140;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 300;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #333;
}

.wrapper {
  max-width: 1200px;
  padding: 0 4%;
  margin: 0 auto;
}

#header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}

header {
  /*==================================================
  ハンバーガーメニュー
  ===================================*/
}
@media (max-width: 840px) {
  header nav {
    display: none;
  }
}
header nav.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  background-color: #fff;
}
header .openbtn1 {
  display: none;
  position: relative;
  /*ボタン内側の基点となるためrelativeを指定*/
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 1px;
}
@media (max-width: 840px) {
  header .openbtn1 {
    display: block;
    z-index: 9999;
  }
}
header .openbtn1 span {
  display: inline-block;
  transition: all 0.4s;
  /*アニメーションの設定*/
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 3px;
  background: #333;
  width: 45%;
}
header .openbtn1 span:nth-of-type(1) {
  top: 15px;
}
header .openbtn1 span:nth-of-type(2) {
  top: 23px;
}
header .openbtn1 span:nth-of-type(3) {
  top: 31px;
}
header .openbtn1.active span {
  /*activeクラスが付与されると線が回転して×に*/
}
header .openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
header .openbtn1.active span:nth-of-type(2) {
  opacity: 0;
  /*真ん中の線は透過*/
}
header .openbtn1.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}
header ul {
  display: flex;
}
@media (max-width: 840px) {
  header ul {
    flex-direction: column;
    font-size: 2rem;
  }
}
@media (max-width: 840px) {
  header ul .sns-area {
    flex-direction: row;
    justify-content: center;
    gap: 1.75rem;
  }
}
header li {
  margin-left: 1.5rem;
}
@media (max-width: 840px) {
  header li {
    margin-left: 0;
    text-align: center;
    margin-bottom: 60px;
  }
}
header li img {
  width: 20px;
}
@media (max-width: 840px) {
  header li img {
    width: 30px;
  }
}
header:last-child {
  margin-left: 0;
}
header.sns-area {
  display: flex;
  justify-content: center;
}
@media (max-width: 840px) {
  header.sns-area {
    gap: 2rem;
  }
}

/*==================================================
フッター
===================================*/
footer {
  /*==================================================
  スクロールイベント
  https://coco-factory.jp/ugokuweb/move01/9-1-4/
  ===================================*/
  /*下からの距離が変化して全体が下→上→下に動く*/
  /*Scrollテキストの描写*/
  /* 矢印の描写 */
}
footer .scrolldown4 {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  bottom: 1%;
  right: 10%;
  /*矢印の動き1秒かけて永遠にループ*/
  -webkit-animation: arrowmove 1s ease-in-out infinite;
  animation: arrowmove 1s ease-in-out infinite;
}
@-webkit-keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 3%;
  }
  100% {
    bottom: 1%;
  }
}
@keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 3%;
  }
  100% {
    bottom: 1%;
  }
}
footer .scrolldown4 span {
  /*描画位置*/
  position: absolute;
  left: -16px;
  bottom: 50px;
  /*テキストの形状*/
  color: #3D4140;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
}
footer .scrolldown4:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 40px;
  right: -3px;
  /*矢印の形状*/
  width: 1px;
  height: 10px;
  background: #3D4140;
  transform: skewX(31deg);
}
footer .scrolldown4:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  right: 0;
  /*矢印の形状*/
  width: 1px;
  height: 50px;
  background: #3D4140;
}
footer .footer-site-map img {
  margin-bottom: 1.75rem;
}
footer .footer-site-map .footer-list-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 840px) {
  footer .footer-site-map .footer-list-area {
    flex-direction: column;
    align-items: flex-start;
  }
}
footer .footer-site-map .footer-list-area .footer-list {
  display: flex;
  gap: 2.5rem;
}
@media (max-width: 840px) {
  footer .footer-site-map .footer-list-area .footer-list {
    flex-direction: column;
    gap: 1.75rem;
  }
}
footer .footer-site-map .footer-list-area p {
  font-size: 0.75rem;
}
@media (max-width: 840px) {
  footer .footer-site-map .footer-list-area p {
    padding-top: 1.75rem;
  }
}
footer .footer-site-map .sns-area {
  display: flex;
  gap: 30px;
}
footer .footer-site-map .sns-area img {
  width: 20px;
}
@media (max-width: 840px) {
  footer .footer-site-map .sns-area img {
    width: 30px;
  }
}
/*# sourceMappingURL=style.css.map */